/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}
.top-menu {
    background-color: rgb(220, 220,220);
    
    a{
        display:block;
        padding: 1rem;
    }
    
    li {
        float: left;
        list-style: none;
    }
}