// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Google font embed in partials/header.php
/// Regular font family
/// @type List
$body-text: 'Libre Fanklin', 'Helvetica Neue', 'Arial', sans-serif !default;
$body-text-light: 'Libre Fanklin Light', 'Helvetica Neue Light', 'Arial', sans-serif !default;
$body-text-bold: 'Libre Fanklin Bold', 'Helvetica', 'Arial', sans-serif !default;

/// Main brand colors
/// Yellow
$brand-yellow: #E8951B !default;
/// Green
$brand-green: #22A77E !default;
/// Red
$brand-red: #E6263C !default;
/// Purple
$brand-purple: #8E2F88 !default;
/// Light grey
$light-grey: #797979 !default;
/// Dark grey
$dark-grey: #2B2B2B !default;

//grid layout settings

/// Container's maximum width
/// @type Length
$tablet: rem(767) !default;
$desktop: rem(1170) !default;
$gutter: rem(20) !default;




/*
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

*/




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
